.all-label-dis-b label{
    display: block;
}
.all-inp-dis-b input{
    display: block;
}
.all-a-c-w a{
    color: white;
}
.all-select-dis-b select{
display: block;
}
.all-div-pad-y-12p div{
padding: 12px 0px;
}