/*Displays*/
*[class*="dis-g-"]{
    display: grid;
}
.dis-g{
    display: grid;
}
.dis-g-gtc-4{
 grid-template-columns: 24% 24% 24% 24%;
 column-gap: 1%;
}
.dis-g-gtc-2{
    grid-template-columns: 48% 48%;
 column-gap: 2%;
}
.dis-f{
    display: flex;
}