@import url("../css/root.css");
@import url("../css/justify.css");
@import url("../css/list.css");
@import url("../css/text.css");
@import url("../css/padding.css");
@import url("../css/margin.css");
@import url("../css/aling.css");
@import url("../css/colours.css");
@import url("../css/border.css");
@import url("../css/all.css");
@import url("../css/displays.css");
body{
    margin: 0px;
    padding: 0px;
    background-color: #323232;
    color: white;
}

button{
    cursor: pointer;
}
/*clases*/
